<div class="main-wrap">
    <div class="work-detail-container">
      <a class="return-back" [routerLink]="['/works']">Результаты поиска</a>
    </div>
    <div class="work-content-wrap work-dcontent-wrap">
        <div class="work-content-details">
          <div class="work-content-head">
            <div class="work-card-rowblock">
              <div class="work-card-img">
                <img src="../../../assets/img/premium-icon-pray-3620149.png" alt="">
                <button (click)="modalDetailsShow(121)" >Взять служение</button>
              </div>
              <!-- <div class="is-hot"><img src="../../../assets/img/premium-icon-fire.png" alt=""> Срочное</div> -->
            </div>
          </div>
          <div class="work-content-wrap">
            <div class="work-content">
              <div class="work-card-rowblock">


                <div class="is-hot noabs-is-hot"><img src="../../../assets/img/premium-icon-fire.png" alt=""> Срочное</div>

              </div>
              <h2>Набор лекций Гуру</h2>
              <div class="short-info">
                <div class="regular-work location">
                  <img src="../../../assets/img/schedule_school_date_time_month_icon_208752.png" width="5%" alt=""><span>Служение на постоянной основе</span>
                </div>

                <div class="location">
                  <img src="../../../assets/img/31_104880.png" width="5%" alt=""><span>Центральный ашрам Тримурти</span>
                </div>
                <div class="location contacts">
                  <img src="../../../assets/img/free-icon-telegram-226253.png" width="5%" alt=""><span>Трайлокьядеви  +380 97 415 1900</span>
                </div>
                <div class="location time-work">
                  <img src="../../../assets/img/checkmark-round_icon-icons.png" width="5%" alt=""><span>Занятость от 3 часов в день</span>
                </div>
              </div>
              <div class="work-detail-description">
                <h4>Описание</h4>
                <p>Вам отправляется папка с лекциями, которые необходимо набрать до 30.08.2022. Вы набираете текст, затем его нужно отредактировать и проверить на орфографические ошибки. В указанный срок, вы высылаете все набранные лекции в папке в формате PDF. Если у вас возникают непредусмотренные события и вы не успеваете сделать служение в срок, нужно обязательно об этом предупредить монаха, который курирует данное служение и решить как вам действовать далее.</p>
                <h4>Требования от служителя:</h4>

                <div>
                  <li>Ответственность, за взятую севу</li>
                  <li>Выполнение севы в срок</li>
                  <li>Усердие, старательность</li>
                  <li>Желание разбираться и учиться новому</li>
                </div>
              </div>
              <div class="work-card-rowblock work-card-rowblock-center">
                <div class="work-card-img">
                  <img src="../../../assets/img/premium-icon-pray-3620149.png" alt="">
                  <button (click)="modalDetailsShow(121)" >Я хочу выполнять это служение</button>
                </div>
                <!-- <div class="is-hot"><img src="../../../assets/img/premium-icon-fire.png" alt=""> Срочное</div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="work-filter work-hot-content">
          <div class="hot-header"><p>Срочное служение</p></div>
          <div class="hot-card">
            <h4>Набор лекций Гуру</h4>
            <div class="short-info">
              <div class="regular-work location">
                <img src="../../../assets/img/schedule_school_date_time_month_icon_208752.png" width="6%" alt=""><span>Служение на постоянной основе</span>
              </div>

              <div class="location">
                <img src="../../../assets/img/31_104880.png" width="6%" alt=""><span>Центральный ашрам Тримурти</span>
              </div>
              <div class="location contacts">
                <img src="../../../assets/img/free-icon-telegram-226253.png" width="6%" alt=""><span>Трайлокьядеви  +380 97 415 1900</span>
              </div>
              <div class="location time-work">
                <img src="../../../assets/img/checkmark-round_icon-icons.png" width="6%" alt=""><span>Занятость от 3 часов в день</span>
              </div>
            </div>

          </div>
          <div class="hot-card">
            <h4>Набор лекций Гуру</h4>
            <div class="short-info">
              <div class="regular-work location">
                <img src="../../../assets/img/schedule_school_date_time_month_icon_208752.png" width="6%" alt=""><span>Служение на постоянной основе</span>
              </div>

              <div class="location">
                <img src="../../../assets/img/31_104880.png" width="6%" alt=""><span>Центральный ашрам Тримурти</span>
              </div>
              <div class="location contacts">
                <img src="../../../assets/img/free-icon-telegram-226253.png" width="6%" alt=""><span>Трайлокьядеви  +380 97 415 1900</span>
              </div>
              <div class="location time-work">
                <img src="../../../assets/img/checkmark-round_icon-icons.png" width="6%" alt=""><span>Занятость от 3 часов в день</span>
              </div>
            </div>

          </div>
          <div class="hot-card">
            <h4>Набор лекций Гуру</h4>
            <div class="short-info">
              <div class="regular-work location">
                <img src="../../../assets/img/schedule_school_date_time_month_icon_208752.png" width="6%" alt=""><span>Служение на постоянной основе</span>
              </div>

              <div class="location">
                <img src="../../../assets/img/31_104880.png" width="6%" alt=""><span>Центральный ашрам Тримурти</span>
              </div>
              <div class="location contacts">
                <img src="../../../assets/img/free-icon-telegram-226253.png" width="6%" alt=""><span>Трайлокьядеви  +380 97 415 1900</span>
              </div>
              <div class="location time-work">
                <img src="../../../assets/img/checkmark-round_icon-icons.png" width="6%" alt=""><span>Занятость от 3 часов в день</span>
              </div>
            </div>

          </div>


        </div>

    </div>


</div>
