<div class="work-head">
  <h3 class="work-title">После того, как вы оставите заявку, с вами свяжется монах, ответственный  за данное служение</h3>
  <div class="work-head-input-wrap">
    <input type="text" placeholder="Ваше имя">
    <input type="text" placeholder="Ваш телефон">
    <input type="text" placeholder="Ваш Email">
  </div>
  <div class="work-head-center"><p>*указывайте пожалуйста номер телефона, который привязан к Telegram или Viber</p></div>
  <button class="work-head-btn" (click)="sendMessage()">
    <img src="../../../assets/img/premium-icon-pray-3620149.png" width="15%" alt="">
    <span>
      Оставить Заявку
    </span>
  </button>
</div>

