
.quotes-cont{
  .form-control{
    display: flex;
    width: 100%;
    flex-direction: row;
    button{
      display: block;
      margin-left: 1%;
    }

  }
}
.flx{
  display: flex;
  width: 100%;
  justify-content: space-around;

  .main-block{
    margin-top: 2%;
    h2{
      text-align: center;
      color: #96652C;
    }
    width: 48%;
  }
}
