<footer>
  <div class="main-wrap footer-wrap">
    <div class="foot-content">
      <div class="foot-card foot-card-top">
        <img src="../../../assets/img/premium-icon-telegram-1603076.png" alt="">
        <div ><p>Telegram</p><p>+380669461305</p></div>
      </div>
      <div class="foot-card">
        <img src="../../../assets/img/1639603676_8-abrakadabra-fun-p-pochta-ikonka-9.png" alt="">
        <div><p>Email</p><p>shumicshumic@gmail.com</p></div>
      </div>
    </div>
  </div>
</footer>
