<div class="work-head" [formGroup]="form">
    <h3 class="work-title" [hidden]="data.type == 'donate'">После того, как вы оставите заявку, с вами свяжется монах,
        ответственный за данное служение</h3>
    <h3 class="work-title" [hidden]="data.type !== 'donate'">После того, как вы оставите заявку, с вами свяжутся!</h3>
    <div class="work-head-input-wrap">
        <input type="text" placeholder="Ваше имя" formControlName="name">
        <input type="text" placeholder="Ваш телефон/telegram" formControlName="phone">
        <input type="text" placeholder="Ваш Email" formControlName="email">
    </div>
    <div class="work-head-center">
        <p>*указывайте пожалуйста номер телефона, который привязан к Telegram или Viber</p>
    </div>
    <button class="work-head-btn" [class.disabledbtn]="form.invalid" [disabled]="form.invalid" (click)="sendMessage()">
        <img src="../../../assets/img/premium-icon-pray-3620149.png" width="15%" alt="">
        <span>
            Оставить Заявку
        </span>
    </button>
</div>