
<div class="head-container">
  <div class="main-wrap border-gold-bt">
    <div class="head-block" [routerLink]="['/']" style="width: 21%; margin-left: 1%;">
      <img src="../../../assets/img/clipart33834321.png" alt="" width="50%">
      <h3>СУКРИТИ МАНДАЛА</h3>
    </div>
    <div class="head-block firsthd" [routerLink]="['/projects']"><span>ПРОЕКТЫ</span> </div>
    <div class="head-block two-last" [routerLink]="['/works']" ><span>СЛУЖЕНИЕ</span></div>
    <!-- <div class="head-block two-last" [routerLink]="['/sacrifice']" ><span>ПОЖЕРТВОВАНИЕ</span></div> -->
    <div class="head-block two-last" (click)="modalDetail()"><span>ПОЖЕРТВОВАНИЕ</span></div>
  </div>
</div>
