<form [formGroup]="data.form">
  <div class="modal-content" *ngIf="data.category ==='workOffer'">
    <label for="first-name">Название: </label>
    <input id="first-name" type="text" formControlName="title">
    <label for="first-name">Подзаголовок: </label>
    <input id="first-name" type="text" formControlName="subTitle">
    <label for="last-name">Описание: </label>
    <input id="last-name" type="text" formControlName="desc">
    <div>
      <span> Горячее предложение? </span><input type="checkbox" formControlName="isHot">
    </div>
    <button [disabled]="data.form.invalid || !data.form.dirty" (click)="createOrEdit(data)">{{data.type=='create'? "Создать" : 'Редактировать'}}</button>
  </div>

  <div class="modal-content" *ngIf="data.category ==='quotes'">
    <label for="first-name">Название: </label>
    <input id="first-name" type="text" formControlName="title">
    <label for="last-name">Описание: </label>
    <input class="mb-2" id="last-name" type="text" formControlName="desc">
    <button [disabled]="data.form.invalid || !data.form.dirty" (click)="createOrEdit(data)">{{data.type=='create'? "Создать" : 'Редактировать'}}</button>
  </div>

  <div class="modal-content" *ngIf="data.category ==='projectContent'">

    <label for="first-name">Название: </label>
    <input id="first-name" type="text" formControlName="title">
    <label for="first-name">Тег: </label>
    <input id="first-name" type="text" formControlName="tag">
    <label for="last-name">Описание: </label>
    <input id="last-name" type="text" formControlName="desc">
    <label for="last-name">Нужно Собрать: </label>
    <input id="last-name" type="number" formControlName="aim">
    <label for="last-name">Собрано: </label>
    <input id="last-name" type="number" max="100" formControlName="percent">
    <label for="last-name">Изображенние: </label>
    <input  class="mb-2" id="last-name" type="file" formControlName="img" (change)="upload($event)">

    <button [disabled]="data.form.invalid || !data.form.dirty" (click)="createOrEdit(data)">{{data.type=='create'? "Создать" : 'Редактировать'}}</button>
  </div>

</form>
