form{
  overflow: auto;
  max-height: 90vh;
  transition: all 0.4s;
  .modal-content{
    display: flex;
    flex-direction: column;
    input, textarea{
      margin-bottom: 1%;
      border-radius: 5px;
      padding: 0.5%;
      &.invalid{
        border: 1px solid rgb(181, 43, 43);
      }
      &.ist {
        margin-bottom: 0;
      }
    }
  }
}
.del-img_stt{
  background-color: #96642cc1;
  border-color: #96642cc1;
  color: white;
  border-radius: 10px;
  padding: 5px;
  width: 26%;
}

.del-img {
  position: absolute;
  top: 4px;
  right: 12px;
  border: none;
  width: 18px;
  height: 18px;
  z-index: 10;
  border-radius: 5px;
  margin: 0 !important;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}
.del-inp{
  color: white;
  border-radius: 50%;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  background-color: rgb(47, 47, 47);
}
.hold-req{
  display: flex;
  flex-direction: column;
  div{
    display: flex;
    p{
      margin-bottom: 1%;
    }
    align-items: center;
  }
}

.disabled{
  background-color: rgb(165, 165, 165);
}
.edit-or-save{
  padding: 5px;
  border-radius: 10px;
  width: 30%;
  &:not(.disabled){
    color: white;
    border-color: #E5BF51;
    background-color: #E5BF51;

  }
}
