<form [formGroup]="data.form">
  <div class="modal-content" *ngIf="data.category ==='workOffer'">
    <label for="first-name">Название*: </label>
    <input id="first-name" required type="text" formControlName="title">
    <label for="first-name">Ашрам*: </label>
    <input id="first-name" type="text" required  formControlName="subTitle">
    <label for="first-name">Категория: </label>

    <select formControlName="category">
      <option value="null" selected>Без категории</option>
      <option [value]="cat.id" *ngFor="let cat of categorys$ | async">{{cat.title}}</option>
    </select>
    <label for="last-name">Большое описание*: </label>
    <angular-editor id="editor1" formControlName="bigDesc" [config]="editorConfig"></angular-editor>
    <div >
    <label for="last-name">Детали: </label>
    <div class="ml-2" [formGroup]="data.form?.controls?.details">
      <span>Служение на постоянной основе </span> <input type="checkbox" class="mb-2" formControlName="fullTime">
      <br >
      <label for="last-name">Локация: </label>
      <input type="text" formControlName="location" >
      <br>
      <label for="last-name">Занятость: </label>
      <input type="text" formControlName="timeOnDay">
      <br>
      <label for="last-name" >Контакты: </label>
      <input type="text" formControlName="contacts">
    </div>
  </div>
    <div class="mb-2">
      <span> Горячее предложение? </span><input type="checkbox" formControlName="isHot">
    </div>
    <button class="edit-or-save" [class.disabled]="data.form.invalid || !data.form.dirty" [disabled]="data.form.invalid || !data.form.dirty" (click)="createOrEdit(data)">{{data.type=='create'? "Создать" : 'Редактировать'}}</button>
  </div>

  <div class="modal-content" *ngIf="data.category ==='quotes'">
    <label for="first-name">Название*: </label>
    <input id="first-name" type="text" formControlName="title">
    <label for="last-name">Описание*: </label>
    <input class="mb-2" id="last-name" type="text" formControlName="desc">
    <button class="edit-or-save" [class.disabled]="data.form.invalid || !data.form.dirty" [disabled]="data.form.invalid || !data.form.dirty" (click)="createOrEdit(data)">{{data.type=='create'? "Создать" : 'Редактировать'}}</button>
  </div>

  <div class="modal-content" *ngIf="data.category ==='slides'">
    <label for="first-name">Название*: </label>
    <input id="first-name" type="text" formControlName="title">
    <label for="last-name">Описание*: </label>
    <input class="mb-2" id="last-name" type="text" formControlName="desc">
    <label for="last-name">Изображенния*: </label>
    <input [formControl]="file" *ngIf="!data.form.value.img" class="mb-2" id="last-name" type="file" (change)="upload($event)" accept="image/*">
    <img class="mb-2" *ngIf="data.form.value.img" src="{{data.form.value.img}}" height="70px" width="100px" alt="">
    <button  *ngIf="data.form.value.img" class="del-img mb-2" (click)="deleteImage(data.form.value.img)">Удалить изображенние</button>

    <button class="edit-or-save" [class.disabled]="(data.form.invalid || !data.form.dirty) && file?.pristine" [disabled]="(data.form.invalid || !data.form.dirty) && file?.pristine" (click)="createOrEdit(data)">{{data.type=='create'? "Создать" : 'Редактировать'}}</button>
  </div>

  <div class="modal-content" *ngIf="data.category ==='projectContent'" >

    <label for="first-name">Название*: </label>
    <input id="first-name" type="text" formControlName="title">
    <label for="first-name">Тег*: </label>
    <input id="first-name" type="text" formControlName="tag">
    <label for="first-name">Вознаграждения: </label>
    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-label>Выберите награды</mat-label>
      <mat-chip-list #chipList aria-label="revards selection">
        <mat-chip
          *ngFor="let rev of selectedRevards"
          (removed)="remove(rev.id)">
          {{rev.title}}
          <button matChipRemove>
            <mat-icon>✖</mat-icon>
          </button>
        </mat-chip>
        <input
          placeholder="Награды..."
          #fruitInput
          [formControl]="revardsCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let rev of revardscopy$ | async" [value]="rev.id">
          {{rev.title}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <label for="last-name">Описание*: </label>
    <input id="last-name" type="text" formControlName="desc">
    <label for="last-name">Локация*: </label>
    <input id="last-name" type="text" formControlName="location">
    <label for="last-name">Поддержали*: </label>
    <input id="last-name" type="number" formControlName="supported">
    <label for="last-name">Большое описание*: </label>
    <angular-editor id="editor1" formControlName="bigDesc" [config]="editorConfig"></angular-editor>
    <label for="last-name">Нужно Собрать*: </label>
    <input id="last-name" type="number" formControlName="aim">
    <label for="last-name"  min="10" >Собрано*: </label>
    <input  id="last-name" type="number" max="{{data?.form.value?.aim}}" min="0" formControlName="percent">
    <div>
      <span> Добавить в слайдер? </span><input type="checkbox" formControlName="addToSlider">
    </div>
    <label for="last-name" >Изображения: </label>
    <input [formControl]="file" class="mb-2" id="last-name" type="file" (change)="upload($event)" accept="image/*">
    <div class="d-flex" *ngIf="data.form.value?.img?.length">
      <ng-container *ngFor="let img of data.form.value.img">
        <div style="position: relative;">
          <img style="margin-right: 8px;" class="mb-2" src="{{img}}" height="70px" width="100px" alt="">
          <button class="del-img" (click)="deleteImage(img)"><span style="margin-top: -4px;">x</span></button>
        </div>
      </ng-container>
    </div>
    <button class="edit-or-save" [class.disabled]="(data.form.invalid || !data.form.dirty) && file?.pristine" [disabled]="(data.form.invalid || !data.form.dirty) && file?.pristine" (click)="createOrEdit(data)">{{data.type=='create'? "Создать" : 'Редактировать'}}</button>
  </div>

  <div class="modal-content" *ngIf="data.category ==='revards'" >

    <label for="first-name">Название*: </label>
    <input id="first-name" type="text" formControlName="title">
    <label for="last-name">Описание*: </label>
    <input id="last-name" type="text" formControlName="desc">
    <label for="last-name">Цена*: </label>
    <input id="last-name" type="number" min="0" formControlName="price">
    <label for="last-name">Куплено*: </label>
    <input id="last-name" type="number" formControlName="bought">
    <label for="last-name" >Осталось*: </label>
    <input  id="last-name" type="number" max="{{data?.form.value?.aim}}" min="0" formControlName="remainder">
    <label for="last-name">Изображенния*: </label>
    <input [formControl]="file" *ngIf="!data.form.value.img"  class="mb-2" id="last-name" type="file" (change)="upload($event)" accept="image/*">
    <img class="mb-2" *ngIf="data.form.value.img" src="{{data.form.value.img}}" height="70px" width="100px" alt="">
    <button  *ngIf="data.form.value.img" class="del-img mb-2" (click)="deleteImage(data.form.value.img)">Удалить изображенние</button>
    <button class="edit-or-save" [class.disabled]="(data.form.invalid || !data.form.dirty) && file?.pristine" [disabled]="(data.form.invalid || !data.form.dirty) && file?.pristine" (click)="createOrEdit(data)">{{data.type=='create'? "Создать" : 'Редактировать'}}</button>
  </div>

  <div class="modal-content" *ngIf="data.category ==='content'">
    <label for="first-name">Название*: </label>
    <input id="first-name" type="text" formControlName="title">
    <label for="last-name">Описание*: </label>
    <input id="last-name" type="text" formControlName="desc">
    <label for="last-name">Изображенниe*: </label>
    <input [formControl]="file" *ngIf="!data.form.value.img" class="mb-2" id="last-name" type="file" (change)="uploadSingle($event)" accept="image/*">
    <img class="mb-2" *ngIf="data.form?.value?.img" src="{{data.form.value?.img}}" height="70px" width="100px" alt="">
    <button  *ngIf="data.form.value.img" class="del-img_stt mb-2" (click)="deleteSingleImage(data.form.value.img)">Удалить изображенние</button>
    <button class="edit-or-save" [class.disabled]="(data.form.invalid || !data.form.dirty) && file?.pristine" [disabled]="(data.form.invalid || !data.form.dirty) && file?.pristine" (click)="createOrEdit(data)">{{data.type=='create'? "Создать" : 'Редактировать'}}</button>
  </div>


  <div class="modal-content" *ngIf="data.category ==='category'" >
    <label for="first-name">Название*: </label>
    <input id="first-name" type="text" formControlName="title">
    <button class="edit-or-save" [class.disabled]="data.form.invalid || !data.form.dirty" [disabled]="data.form.invalid || !data.form.dirty" (click)="createOrEdit(data)">{{data.type=='create'? "Создать" : 'Редактировать'}}</button>
  </div>

  <div class="modal-content" *ngIf="data.category ==='samayasServices'">
    <label for="first-name">Название*: </label>
    <input id="first-name" required type="text" formControlName="title">
    <label for="first-name">Категория: </label>

    <select formControlName="category">
      <option value="null" selected>Без категории</option>
      <option [value]="cat.id" *ngFor="let cat of categorysSamaya$ | async">{{cat.title}}</option>
    </select>
    <label for="last-name">Большое описание*: </label>
    <angular-editor id="editor1" formControlName="bigDesc" [config]="editorConfig"></angular-editor>
    <div >
    <label for="last-name">Детали: </label>
    <div class="ml-2" [formGroup]="data.form?.controls?.details">
      <!-- <span>Служение на постоянной основе </span> <input type="checkbox" class="mb-2" formControlName="fullTime">
      <br > -->
      <label for="last-name" >Имя: </label>
      <input type="text" formControlName="name">
      <br >
      <label for="last-name" >Цена </label>
      <input type="text" formControlName="cost">
      <br >
      <label for="last-name" >Контакты: </label>
      <input type="text" formControlName="contacts">
    </div>
  </div>

    <button class="edit-or-save" [class.disabled]="data.form.invalid || !data.form.dirty" [disabled]="data.form.invalid || !data.form.dirty" (click)="createOrEdit(data)">{{data.type=='create'? "Создать" : 'Редактировать'}}</button>
  </div>
</form>
