<div class="proj-detail-container">

  <div class="main-wrap">

      <a class="return-back" [routerLink]="['/projects']">Посмотреть другие проекты</a>


      <div class="proj-detail-status">
        <div class="proj-detail-status-blue"></div>
        <p>ИДЕТ СБОР</p>
      </div>

      <h2 class="proj-detail-title">Строительство храма Вишну в Тримурти ашраме</h2>
      <h3 class="proj-detail-subtitle">Начат проект по строению храма Вишну в стиле индийского мандира, посвященный 12 его аватарам</h3>


      <div class="proj-detail-head--info  proj-dt-inf">
        <div class="img-prod-detail only-img">
          <img src="../../../assets/img/GoChicago.ru-3099.png" width="100%" alt="">
        </div>
        <div class="prod-detail-progres">
          <h2 class="prod-detail-progres-cash">500 000 ₴</h2>
          <div>

            <div class="prod-detail-progres-cash-aim">
              <p class="gray aim-txt">из 550 000 ₴</p>
              <p class="gray aim-txt">собрано 98%</p>
            </div>
            <div class="my-progresbar"></div>
          </div>
          <div class="prod-detail-progres-info">
            <div class="prod-count-support">
              <p>108 раз</p>
              <p class="gray">поддержали</p>
            </div>
            <div class="prod-data">
              <p>26 августа</p>
               <p class="gray"> запущен</p>
            </div>
          </div>

          <button class="support-proj">Поддержать проект</button>
          <div class="location">
            <img src="../../../assets/img/31_104880.png" width="5%" alt=""><span>Центральный ашрам Тримурти</span>
          </div>
        </div>
      </div>
    </div>

  <div class="proj-navbar-wrap">
    <div class="main-wrap">

      <div class="mrow">
        <div class="proj-nav-btn active-btn">Описание</div>
        <div class="proj-nav-btn">Новости проекта</div>
        <div class="proj-nav-btn">Участники</div>
        <div class="proj-nav-btn">Куратор проекта</div>
        <button class="support-proj">Поддержать проект</button>
      </div>

    </div>
  </div>

  <div class="main-wrap">
    <div class="proj-detail-head--info bottom-content">
      <div class="img-prod-detail bottom-proj-detail">
        <p class="proj-desc">Наш проект  – ответ на запрос тех, кто движется по пути становления себя как целостной, здоровой и гармонично развитой личности. Мы стремимся охватить весь спектр потребностей человека в этом длительном и многогранном процессе. Наши мастера дают своим ученикам необходимую базу – навыки по работе с телом, с внутренними состояниями, ментальными процессами и в целом со всей полнотой личного потенциала.

        Перенимая опыт, наработанный годами практики, ученики движутся по выбранному пути быстро, избегая возможных неожиданностей и ошибок, применяя всё разнообразие эффективных методов и практик. Наша цель — приносить пользу. И мы искренне благодарны каждому, кто почувствует в этом созвучную для себя ноту и сделает несколько шагов на своём пути – рядом с нами.
        </p>

        <div class="proj-img-container proj-desc">
          <img src="../../../assets/img/Индуистский-храм-Акшардхам-Дели-2-1.png" width="100%" alt="">
        </div>
        <p class="proj-desc">Мы уже запустили онлайн школу https://maste-ra.com/ и сейчас хотим расширить нашу деятельность и начать вести оффлайн мероприятия.
        В настоящий момент мы заняты возведением 2 этажного каркасного купольного дома для медитативных практик в Крыму и нам нужна финансовая помощь. Мы рассчитываем закончить строительство до конца 2022 года и уже весной начать принимать гостей. Цифровые вознаграждения и благовония будут отправлены после успешного завершения сбора.
        Общий бюджет работ более 1 миллиона рублей, но мы будем признательны любому содействию. </p>
        <div class="proj-img-container proj-desc">
          <img src="../../../assets/img/4-151.png" width="100%" alt="">

        </div>
        <div class="proj-img-container proj-desc">
          <img src="../../../assets/img/pics.png" width="100%" alt="">

        </div>

        <p >Смета по этапам и видам работ:</p>
        <p> Этап 1  Обвязочный брус, каркас пола, каркас купола -  180 000 </p>
        <p> Этап 2  Обшивка купола мембраной снаружи, устройство вензазора и Обшивка крыши ОСБ   - 110 000 </p>
        <p> Этап 3  Установка мягкой черепицы и ковра - 200 000 </p>
        <p> Этап 4  Обшивка пола снизу ОСБ - 30 000 </p>
        <p> Этап 5  Устройство проемов окон, Устройство наружных откосов окон, отделка окон снаружи - 75 000 </p>
        <p> Этап 6  Утепление и пароизоляция  стен и пола - 140 000 </p>
        <p> Этап 7  Устройство чернового пола 1 и 2 этажа - 125 000 </p>
        <p> Этап 8  Устройство каркаса и шумоизоляции перегородок 1  и 2 этажа, Устройство каркаса и шумоизоляции межэтажного перекрытия - 138 000 </p>
        <p> Этап 9  Установка 4 межкомнатных дверей, Монтаж входной двери 1 этажа - 25 000 </p>
        <p> Этап 10 Чистовая отделка внутри помещения, чистовой пол 2 этажа - 147 000</p>
        <p> Возведение и демонтаж лесов  - 30 000 </p>
        <p> Общая стоимость - 1 200 000 рублей</p>
      </div>

      <div class="prod-detail-progres reward-wrap">
        <div class="reward-proj">
          <h3>Вознаграждения</h3>
          <div class="support-useless">
            <h4>Поддержать на любую сумму</h4>
            <p>Спасибо, мне не нужно вознаграждение, я просто хочу поддержать проект.</p>
            <div class="support-block">
              <h3>от 108 ₴</h3>
              <h4>ПОДДЕРЖАЛИ 25</h4>
            </div>
          </div>
          <div class="support-useless support-standart">
            <div class="img-container">
              <img src="../../../assets/img/vishnu-11.png" width="100%" alt="">
            </div>
            <h4>Освещенное мурти Вишну (копия из храма)</h4>
            <p>Это мурти точная копия главного Изображения, которое будет размещено в новом храме. Мурти освещается Гурудэвом.</p>
            <div class="support-block border-none">
              <h3>1008 ₴</h3>
              <div><p>Куплено 10</p>
                <p>Осталось 99</p></div>
            </div>
          </div>
          <div class="support-useless support-standart">
            <div class="img-container">
              <img src="../../../assets/img/vishnu-1(1).png" width="100%" alt="">
            </div>
            <h4>Освещенное мурти Вишну (копия из храма)</h4>
            <p>Это мурти точная копия главного Изображения, которое будет размещено в новом храме. Мурти освещается Гурудэвом.</p>
            <div class="support-block border-none">
              <h3>1008 ₴</h3>
              <div><p>Куплено 10</p>
                <p>Осталось 99</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
