<div class="proj-detail-container">
  <div class="main-wrap">
      <a class="return-back" [routerLink]="['/projects']">Посмотреть другие проекты</a>
      <div class="proj-detail-status">
        <div class="proj-detail-status-blue"></div>
        <p>ИДЕТ СБОР</p>
      </div>
      <h2 class="proj-detail-title">{{project?.title }}</h2>
      <h3 class="proj-detail-subtitle">{{project?.desc}}</h3>
      <div class="proj-detail-head--info  proj-dt-inf">
        <div *ngIf="project?.img?.length == 1" class="img-prod-detail only-img">
          <img [src]="project?.img" width="100%" alt="">
        </div>
        <div *ngIf="project?.img?.length > 1" class="slider-container">
          <div class="slider-wrap-r">
            <div class="slider-wrap-absolute proj_d">
              <owl-carousel-o #owl [options]="customOptions">
                <ng-container *ngFor="let slide of project?.img, let i = index">
                  <ng-template [id]="i.toString()" carouselSlide >
                    <div class="slide-img-container" style="box-shadow: 0px 0px 43.0895px rgba(0, 0, 0, 0.05);">
                      <img class="carousel-img" [src]="slide" >
                    </div>
                  </ng-template>
                </ng-container>
              </owl-carousel-o>
            </div>
          </div>
        </div>
        <div class="prod-detail-progres">
          <h2 class="prod-detail-progres-cash">{{project?.percent}}  ₴</h2>
          <div>
            <div class="prod-detail-progres-cash-aim">
              <p class="gray aim-txt">из {{project?.aim}}₴</p>
              <p class="gray aim-txt">собрано {{((project?.percent / project?.aim)* 100).toFixed(0)}}%</p>
            </div>
            <div class="my-progresbar"><div class="m-prog" [ngStyle]="{'width.%': ((project?.percent / project?.aim)* 100)} "></div></div>
          </div>
          <div class="prod-detail-progres-info">
            <div class="prod-count-support">
              <p>{{project?.supported ? project?.supported : 0 }} раз</p>
              <p class="gray">поддержали</p>
            </div>
            <div class="prod-data">
              <p>{{project?.date | date : 'dd MMMM': '+2' : 'ru'}}</p>
               <p class="gray"> запущен</p>
            </div>
          </div>
          <button class="support-proj" (click)="modalDetail()">Поддержать проект</button>
          <div class="location">
            <img src="../../../assets/img/31_104880.png" width="5%" alt=""><span>{{project?.location}}</span>
          </div>
        </div>
      </div>
    </div>
  <div class="proj-navbar-wrap">
    <div class="main-wrap">
      <div class="mrow">
        <div class="proj-nav-btn active-btn">Описание</div>
      </div>
    </div>
  </div>
  <div class="main-wrap">
    <div class="proj-detail-head--info bottom-content">
      <div class="img-prod-detail bottom-proj-detail">
      </div>
      <div class="prod-detail-progres reward-wrap">
        <div class="reward-proj">
          <h3>Вознаграждения</h3>
          <div class="support-useless">
            <h4>Поддержать на любую сумму</h4>
            <p>Спасибо, мне не нужно вознаграждение, я просто хочу поддержать проект.</p>
            <div class="support-block">
              <h3>от 108 ₴</h3>
              <h4>ПОДДЕРЖАЛИ 25</h4>
            </div>
          </div>
          <div class="support-useless support-standart" *ngFor="let item of project?.revards">
            <div class="img-container">
              <img [src]="item.img" width="100%" alt="">
            </div>
            <h4>{{item.title}}</h4>
            <p>{{item.desc}}</p>
            <div class="support-block border-none">
              <h3>{{item.price}}  ₴</h3>
              <div><p>Куплено {{item.bought}}</p>
                <p>Осталось {{item.remainder}}</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
