div.scrollmenu {
  width: 90%;
  margin: 14vh auto 0;
  overflow: auto;
  white-space: nowrap;
  border-bottom: 2px solid #E5BF51;
  display: flex;
  justify-content: space-between;

  &::-webkit-scrollbar {
    width: 0px !important;
    height: 4px !important;
    background: #ffeed8;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #ffbc6b;
    height: 2px;
  }

  a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    text-decoration: none;
    color: #96652C;

    &.active {
      color: red;
      position: relative;
      border-bottom: 2px solid red;
    }
  }
}