<ul class="nav nav-tabs mt-5">
  <li class="nav-item">
    <a class="nav-link colorWhite" [routerLink]="[ 'quotes' ]"  routerLinkActive="active">Слайды</a>
  </li>
  <li class="nav-item">
    <a class="nav-link colorWhite" [routerLink]="[ 'home-content' ]"  routerLinkActive="active">Контент</a>
  </li>
  <li class="nav-item">
    <a class="nav-link colorWhite" [routerLink]="[ 'work-offers' ]"  routerLinkActive="active">Служение</a>
  </li>
  <li class="nav-item">
    <a class="nav-link colorWhite"  [routerLink]="[ 'projects' ]"  routerLinkActive="active">Проекты</a>
  </li>
  <li class="nav-item">
    <a class="nav-link colorWhite"  [routerLink]="[ 'revards' ]"  routerLinkActive="active">Вознаграждения</a>
  </li>
  <li class="nav-item">
    <a class="nav-link colorWhite"  [routerLink]="[ 'messages' ]"  routerLinkActive="active">Сообщения</a>
  </li>
  <li class="nav-item">
    <a class="nav-link colorWhite"  [routerLink]="[ 'category' ]"  routerLinkActive="active">Категории</a>
  </li>
</ul>

<router-outlet></router-outlet>
