<div class="nav nav-tabs scrollmenu mt-5">
    <a class="nav-link colorWhite" [routerLink]="[ 'quotes' ]"  routerLinkActive="active">Слайды</a>
    <a class="nav-link colorWhite" [routerLink]="[ 'home-content' ]"  routerLinkActive="active">Контент</a>
    <a class="nav-link colorWhite" [routerLink]="[ 'work-offers' ]"  routerLinkActive="active">Служение</a>
    <a class="nav-link colorWhite" [routerLink]="[ 'samayas-services' ]"  routerLinkActive="active">Услуги Самайных</a>
    <a class="nav-link colorWhite"  [routerLink]="[ 'projects' ]"  routerLinkActive="active">Проекты</a>
    <a class="nav-link colorWhite"  [routerLink]="[ 'revards' ]"  routerLinkActive="active">Вознаграждения</a>
    <a class="nav-link colorWhite"  [routerLink]="[ 'messages' ]"  routerLinkActive="active">Сообщения</a>
    <a class="nav-link colorWhite"  [routerLink]="[ 'servants' ]"  routerLinkActive="active">Служители</a>
    <a class="nav-link colorWhite"  [routerLink]="[ 'category' ]"  routerLinkActive="active">Категории</a>
    <a class="nav-link colorWhite"  [routerLink]="[ 'samayas-services-category' ]"  routerLinkActive="active">Категории Самайных Услуг</a>
</div>

<router-outlet></router-outlet>
