<div class="mess-Wrap">

  <div class="donat-wrap">
    <h2>ПОЖЕРТВОВАНИЕ</h2>
    <div *ngFor="let item of (this.message$ | async)" [hidden]="item?.data.type !=='donate'">
      <i>Имя: </i>{{item.message.name}} <br>
      <i>Емайл: </i> {{item.message.email}} <br>
      <i>Номер телефона: </i> {{item.message.phone}}<br>
      <span [hidden]="!item.data.val">
        <i>Проект: </i> {{item.data.val.title}}<br>
        <i>ID Проекта: </i> {{item.data.val.id}}<br>
      </span>
      <button (click)="deleteItem(item.id)">✖</button>
    </div>
  </div>
  <div class="work-wrap">
    <h2>СЛУЖЕНИЕ</h2>
    <div *ngFor="let item of (this.message$ | async)" [hidden]="item?.data.type !=='work'">
      <i>Имя: </i>{{item.message.name}} <br>
      <i>Емайл: </i> {{item.message.email}} <br>
      <i>Номер телефона: </i> {{item.message.phone}}<br>
      <span [hidden]="!item.data.val">
        <i>Служение: </i> {{item.data.val.title}}<br>
        <i>ID Служения: </i> {{item.data.val.id}}<br>
      </span>
      <button (click)="deleteItem(item.id)">✖</button>
    </div>

  </div>
</div>
