<div class="home-container">
  <div class="biger-wrap">
    <ng-container *ngFor="let item of content$ | async">
      <div class='head-block' *ngIf="item.isTitle">
        <div class="wrp-block">
          <h3>{{item.title}}</h3>
          <p class="txt-smaller">{{item.desc}}
          </p>
        </div>
        <div class="wrp-block img-wrp"><img src="{{item.img}}" width="100%" alt=""></div>
      </div>
    </ng-container>
  </div>
  <div class="main-wrap">
    <div class="offer-container">
      <div class="offer-block">
        <div class="main-wrap">
          <div class="offer-content">
            <div class="offer-card">
              <div class="img-offer">
                <img src="assets/img/E325A1A1-55C9-4BE8-939B-D804738F5672.png" height="100%" alt="">
                <button class="suport-proj get-job" [routerLink]="['/works']">Стать служителем</button>
              </div>
              <div class="txt-offer">
                <p>Здесь вы можете предложить свою кандидатуру в качестве служителя или выбрать служение, которое
                  сможете
                  качественно и регулярно выполнять.</p>
              </div>
            </div>
            <!-- <div class="head-block" [routerLink]="['/']" style="width: 21%; margin-left: 1%;">
              <img src="../../../assets/img/clipart33834321.png" alt="" width="50%">
              <h3>СУКРИТИ МАНДАЛА</h3>
            </div> -->
            <div class="offer-card">
              <div class="img-offer">
                <img src="assets/img/GoChicago.ru-3099.png" height="100%" alt="">
                <button class="suport-proj get-job" [routerLink]="['/samayas-services']">Самайные услуги</button>
              </div>
              <div class="txt-offer">
                <p>Здесь вы можете получить cамайные услуги</p>
              </div>
            </div>
            <div class="offer-card">
              <div class="img-offer">
                <img src="assets/img/0828E3DF-A0CE-4097-ADFB-8440C2F04B4C.png" height="100%" alt="">
                <button class="suport-proj" [routerLink]="['/projects']">Поддержать проект</button>
              </div>
              <div class="txt-offer">
                <p>В данном разделе вы можете выбрать проект, который готовы материально поддерживать или взять на себя
                  полное его обеспечение.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="biger-wrap">
    <div class="line"></div>
    <div class="bottom-block">
      <ng-container *ngFor="let item of content$ | async">
        <div class="row-block" *ngIf="!item.isTitle">
          <div class="row-block-img">
            <img src="{{item.img}}" width="100%" alt="">
          </div>
          <h4 class="sb-ttl">{{item.title}}</h4>
          <p class="txt-smaller">{{item.desc}}
          </p>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="main-wrap">
    <div class="quotes-container">
      <div class="quotes-block">
        <owl-carousel-o #owl [options]="customOptions2">
          <ng-container *ngFor="let slide of quotes$ | async">
            <ng-template carouselSlide>
              <div class="slide-img-container">
                <h4>{{slide.title}}</h4>
                <hr>
                <p>{{slide.desc}}</p>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
    <div class="card-donats">
      <h2>Также, вы можете просто сделать пожертвование в ашрам</h2>
      <div class="work-card-rowblock">
        <div class="work-card-img">
          <img src="../../../assets/img/premium-icon-pray-3620149.png" alt="">
          <button style="padding: 4% 8%" (click)="modalDetail()">Я хочу сделать пожертвование</button>
        </div>
      </div>
    </div>
    <div class="slider-container">
      <h1 [routerLink]="['/projects']">Проекты, которые мы реализовали</h1>
      <div class="slider-wrap-r">
        <div class="slider-wrap-absolute">
          <owl-carousel-o #owl [options]="customOptions">
            <ng-container *ngFor="let slide of this.slides$ | async, let i =index">
              <ng-template [id]="i.toString()" carouselSlide>
                <div class="slide-img-container" style="box-shadow: 0px 0px 43.0895px rgba(0, 0, 0, 0.05);">
                  <img class="carousel-img" [src]="slide.img">
                  <h4 class="slide-ttl">{{slide.title}}</h4>
                  <div class="mb-5">
                    <p class="slide-txt" matTooltip="{{slide.desc}}">{{slide.desc}}</p>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</div>