<div class="proj-content">
  <div class="proj-slider">
    <div class="pr-filter"></div>
    <owl-carousel-o #owl [options]="customOptions2">

      <ng-container *ngFor="let slide of projects$ | async; let i =index" >
        <ng-template *ngIf="i <3" carouselSlide >
          <div class="slide-img-container2">

            <img class="carousel-img2" [src]="slide?.img" >
            <div>
              <h2>{{slide?.title}}</h2>

              <p>{{slide?.desc}}</p>
              <button class="btn-detail" [routerLink]="[ '/project/'+slide.id+'' ]">Подробнее</button>
            </div>

          </div>
        </ng-template>
      </ng-container>

    </owl-carousel-o>
  </div>
  <div class="main-wrap">
    <h1 class="proj-title">Наши проекты</h1>
    <div class="proj-container">
      <div class="proj-card" *ngFor="let item of projects$ | async"  [routerLink]="[ '/project/'+item.id+'' ]" >
        <div class="proj-img-container"><img [src]="item.img" alt="" height="100%"></div>
        <div class="proj-card-text-container">
          <div class="proj-card-txtinfo">

            <p class="card-tag">{{item.tag}}</p>
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-desc">{{item.desc}}</p>
          </div>
          <div class="card-range-container">


            <div class="my-progresbar"><div class="m-prog" [ngStyle]="{'width.%': ((item.percent / item.aim)* 100)} "></div></div>
            <div class="card-range-info">
              <div class="card-range-info-status">
                <p class="card-range-percent">{{((item.percent / item.aim)* 100).toFixed(0)}}%</p>
                <p class="card-range-status">Идёт сбор</p>
              </div>
              <div class="card-range-cash-content">

                <p class="card-range-cash">{{item.aim}} ₴</p>
                <p class="card-range-have">Собрано</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="paginator" [hidden]="(projects$ | async)?.length < 20">

      <div class="see-more">Показать еще</div>
      <mat-paginator
       [length]="100"
       [pageSize]="10"
       aria-label="Select page">
      </mat-paginator>

    </div>
  </div>
</div>
