<div class="home-container">
  <div class="form-control">
    <button (click)="createProject()">Создать Проект</button>
  </div>
  <ul>
    <li *ngFor="let item of  projects$ | async">
      Имя: {{item.title}} <br>
      Тег: {{item.tag}} <br>
      Цель: {{item.aim}}<br>
      Собрано: {{item.percent}}<br>
      Описание: {{item.desc}}<br>
      Изображенние: <br> <img src="{{item.img}}" height="70px" width="100px" alt=""><br>
      <button (click)="EditProj(item)">Edit</button>
      <button (click)="deleteProj(item.id)">Delete</button>
    </li>
  </ul>
</div>
