<div class="home-container admin-content">
  <div class="form-control">
    <button (click)="createWorkOffer()">Создать Предложение</button>
  </div>
  <main>
    <div class="li-block" *ngFor="let item of  workOffer$ | async">
      <i>Название: </i> {{item.title}} <br>
      <i>Ашрам: </i> {{item.subTitle}} <br>
      <p *ngIf="item?.category">
        <i>Категория: </i> <span *ngFor="let cat of categorys$ | async">{{cat.id == item?.category ? cat.title : ''}}</span> <br>
      </p>
      <i class="b-desc" (click)="showDesc(item, $event)">Большое описание <span *ngIf="!isBigDesc">⌵</span> <span class="roteted" *ngIf="isBigDesc">⌵</span></i>
      <p class="bigDesc"></p>
      <i>Детали: </i><br>
      <div class="ml-2">
        <i>Локация:</i> {{item.details?.location}}<br>
        <i>График:</i> {{ item.details?.fullTime ? 'Полний робочий день' : 'Частичная занятость'}}<br>
        <i>Занятость:</i> {{item.details?.timeOnDay}}<br>
        <i>Контакти:</i> {{item.details?.contacts}}<br>

      </div>
      <span class="hot" *ngIf="item.isHot">Срочное</span><br>
      <button class="mt-1 edit-btn" (click)="EditOffer(item)">Редактировать</button>
      <button class="ml-1 mt-1" (click)="deleteOffer(item.id)">Удалить</button>
    </div>
  </main>
</div>
