.home-container{
  width: 80%;
  margin: auto;
  .hot{
    color: red;
  }
  ul{
    margin-top: 5%;
    li{
      list-style-type: none;
      border: 1px solid #000;
      border-radius: 10px;
      padding: 10px 20px;
      button{
        background-color: rgb(47, 47, 47);
        color: white;
        border-radius: 10px;
        padding: 5px;
      }

    }
  }
  .form-control{
    margin-top: 15%;
    form{
      display: flex;
      flex-direction: column;
      margin: auto;
      *{
        padding: 5px;
        border-radius: 5px;
      }
      input{
        margin-bottom: 15px;
      }
    }
  }
}
