<div class="work-head">
    <!-- [formGroup]="form" -->
    <h3 class="work-title">{{data?.title}}</h3>
    <div class="work-head-input-wrap">
        <div class="d-flex flex-col w-full">
            <!-- <div class="d-flex justify-center mb-1">
                <input type="text" placeholder="Ваше имя" formControlName="name">
                <input class="ml-1" type="text" placeholder="Ваш телефон/telegram" formControlName="phone">
            </div>
            <div class="d-flex justify-center mt-1">
                <input type="text" placeholder="Ваш Email" formControlName="email">
                <input class="ml-1" type="text" readonly placeholder="Категория" [matMenuTriggerFor]="menu"
                    formControlName="category">
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="form.get('category').setValue(defValue.value)">
                        <input (click)="$event.stopPropagation()" #defValue type="text" class="w-full p-3"
                            placeholder="Укажите свою категорию">
                    </button>
                    <button (click)="form.get('category').setValue(cat.title)" mat-menu-item
                        *ngFor="let cat of categorys$ | async">{{cat.title}}
                    </button>
                </mat-menu>
            </div> -->
        </div>
    </div>
    <!-- [class.disabledbtn]="form.invalid" [disabled]="form.invalid" -->
    <button class="work-head-btn" (click)="goToUrl('https://docs.google.com/forms/d/e/1FAIpQLSdU3FtGnP-iDfMIpjN6WVCF3kfQ2bXPHu-m-NNc3CWpnb5ExQ/viewform')">
        <img src="assets/img/premium-icon-pray-3620149.png" width="15%" alt="">
        <span>
            Ссылка на анкету
        </span>
    </button>
</div>